*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.top {
    height: 50px;
    width: auto;
    background-color: aquamarine;
}

.logo {
    color: rgb(114, 152, 233);
}

.bodycss {
    text-align: center;
    padding: 50px;
}

.btns {
    width: 200px;
    font-size: 1em;
    font-weight: bold;
    padding: 15px;
    margin: 10px;
    background-color: aquamarine;
}

.footer {
    height: 50px;
    width: auto;
    background-color: aquamarine;
    margin-top: 30px;
}
