
.challenge-info{
    display:flex;
    align-self: center;
    text-align: center;
    font-size: 1.3rem;
}
.events-list{
    border-radius: 1.8rem;
    background-color: #CA9AFE;
    opacity: .9; 
}

.subtitle{
    color: #fff;
}

.title-main{
    color: black;
    text-align: center;
}

.challenege-info{
    color: black;
    text-align: center;
}

.backgroundColor{
    background-color: transparent;
}
