
.challenge-info{
    display:flex;
    align-self: center;
    text-align: center;
    font-size: 1.3rem;
}
.events-list{
	border-radius: 1.8rem;
	background-color: #ca9afe;
	opacity: 0.9;
	color: #fff;

}

.subtitle {
	color: #fff;
}

.all-events-container {
	border: none;
	text-align: center;
	padding: 20px;
}

.all-events-container {
	cursor: pointer;
}
.event-title{
	color: #CA9AFE;
}

.event-title:hover{
	color:#7CB579;

}

/* .all-events-container:hover {
	border: solid rgba(0, 0, 0, 0.222) 1px;
	border-radius: 4px;
} */

.title-main{
    color: #2A3439;
	font-weight: 900;
    text-align: center;
}

.challenge-info{
    color: #7CB579;
    text-align: center;
}

.backgroundColor{
    background-color: transparent;
}

.backgroundColor:hover{
    background-color: #ead7ff;
}
