h1, h3{
    color: white;
}

.form{
    border-radius: 1.8rem;
    /* background-color: #87CBEC; */
    background-color: #BED080;
    opacity: .9;
    color: #fff;
}

.input{
    font-size: 1rem;
    border-radius: 1.8rem;
    background-color: #fff;
    opacity: .5;
    color: #fff;
}

.input::placeholder{
    color: #fff;
    opacity: 1;
}

.input:focus{
    outline: none;
    border: none;
    box-shadow: none;
    background-color: #fff;
    opacity: .7;
}

.redirect{
    font-size: 1.1rem;
    color: #fff;
}

