.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

   
   .main-logo{
    position: absolute;
    margin: 260px 40px ;
     height: 210px;
     background-color: rgba(256,256,256, 0.7);
     border-radius: 25px;
   }