.box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
     
.main-logo{
    position: absolute;
    margin: 260px 40px ;
    height: 210px;
    background-color: rgba(256,256,256, 0.7);
    border-radius: 25px;
}

.card{
    opacity: .9;
    border: none;
    border-radius: 1.8rem;
    width: 18rem;
}

.card-title{
    font-size: 1.5em;
    color: #7CB579;
}

@media (min-width: 1200px){

  .card{
    width: 25rem;
  }

  .card-title{
    font-size: 2.8rem;
    color: #7CB579;
  }

  .card-text{
    font-size: 1.2rem;
  }
}

