.single-event {
	background: rgb(80, 167, 235, 0.7);
	border-radius: 1.8rem;
	/* margin: 10vw; */
}

.host-name {
	font-size: 1.5rem;
}

.social-icons-container {
	display: grid;
	grid-template-columns: 40% 60%;
	justify-content: center;
	padding: 20px;
}
.social-icons-container .left {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-icons-container .right {
	display: flex;
	align-items: center;
	justify-content: center;
}
.share-icon {
	cursor: pointer;
	transition: 0.2s;
	margin: 0 20px;
}
.share-icon:hover {
	scale: 1.12;
}
