<<<<<<< HEAD

#map {
    height: 700px;
=======
.map-container {   
    margin: 0;
    width: 100vw;
>>>>>>> 637a9363aaa5927d43e122957580e54e6fc1a785
}


<<<<<<< HEAD
=======
    .map-box{
        height: 25px;
    }
>>>>>>> 637a9363aaa5927d43e122957580e54e6fc1a785
