
  .background {
    position: fixed;
    margin:0;
    left: 0;
    bottom:0;
     min-width:100vw;
     z-index: -1;
     overflow-y: hidden;
   }
   
  .backgroundHorizontal{
    position: fixed;
    margin:0;
    left: 0;
    bottom:0;
     min-width:100vw;
     z-index: -1;
     overflow-y: hidden;
  } 
   .main-logo{
     position: absolute;
     left: 0;
     top:0;
     height:200px;
   }

   .navbar-main{
    width:1000px;
   }